<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.7/glider.min.css" integrity="sha512-YM6sLXVMZqkCspZoZeIPGXrhD9wxlxEF7MzniuvegURqrTGV2xTfqq1v9FJnczH+5OGFl5V78RgHZGaK34ylVg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.7/glider.min.js" integrity="sha512-tHimK/KZS+o34ZpPNOvb/bTHZb6ocWFXCtdGqAlWYUcz+BGHbNbHMKvEHUyFxgJhQcEO87yg5YqaJvyQgAEEtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
.glider-prev, .glider-next {
  color: #fff;
  padding: 1em 2em;
  margin-top: -2em;
  top: 50%;
}
.slide {
  margin: 0.4em;
}
</style>
<script>
window.addEventListener('load', function() {
  new Glider(document.querySelector('.glider'), {
    slidesToScroll: 1,
    slidesToShow: 2.24,
    draggable: true,
    dragVelocity: 1,
    rewind: true,
    dots: '.dots',
    arrows: {
      prev: '.glider-prev',
      next: '.glider-next'
    }
  });
}
</script>
